.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.hero img{

    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 20px;
  
}
.hero h1{
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    width: 70%;
    /* texcolor:linear-gradient(267deg, #c787c4 0.36%, #1288dd 102.06%); */
  
}

.hero h1 span{
    background:linear-gradient(267deg, #e5a464 0.36%, #d25bbe 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    margin: 0px auto;

}

.hero-action{
    display: flex;
    align-items: center;
    gap:75px;
    font-size: 24px;
    font-weight: 500;
  margin: 60px auto;
}
.hero-connect{

    padding: 25px 45px;
    border-radius: 50px;
    background:linear-gradient(267deg, #e5a464 0.36%, #d25bbe 102.06%); 

}
.hero-resume{
    padding:25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid #FFF;

}
.hero-resume:hover{
    border-color: #d25bbe;
}

@media(max-width:768px){
    .hero img{
        margin-top:120px;
        width: 250px;
        height: auto;
    }
    .hero h1{
        margin-top: 20px;
        width: 90%;
        font-size: 45px;

    }

    .hero p{
        width: 80%;
        font-size: 25px;
        line-height: 33px;
        margin: -15px 0;
    }
    .hero-action{
        gap: 20px;
        font-size: 18px;
        font-weight: 20px;
        margin-bottom: 50px;

    }
    .hero-connect{
        padding: 20px 25px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 40px;
        border-radius: 40px;
    }

}


@media(max-width:1280px){
    .hero img {
        width: 300px;
        height: 300px;
    }

    /* Adjust the hero section's title font size and width */
    .hero h1 {
        font-size: 60px;
        width: 80%;
    }

    /* Adjust the paragraph text size and width */
    .hero p {
        width: 70%;
        font-size: 24px;
        line-height: 35px;
    }

    /* Reduce the gap between hero action buttons and adjust the font size */
    .hero-action {
        gap: 50px;
        font-size: 22px;
        margin: 40px auto;
    }

    /* Adjust padding for hero action buttons */
    .hero-connect {
        padding: 20px 35px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}