.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 20px;
  
}
.hero h1{
    font-size: 80px;
    font-weight: 700;
    /* texcolor:linear-gradient(267deg, #c787c4 0.36%, #1288dd 102.06%); */
  
}
.hero h1 span{
    background:linear-gradient(267deg, #e5a464 0.36%, #d25bbe 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero h2{
    font-size: 40px;
    font-weight: 600;
}
.hero p{
    font-size: 20px;
}


.Hero-button{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-top: 30px;
}



.seework-btn{
    background:linear-gradient(267deg, #c787c4 0.36%, #1288dd 102.06%);
    font-size: 20px;
    padding: 20px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.5;
}
.resume {
    border: 1px solid black;
    background: #c787c4;
    font-size: 20px;
    padding: 25px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.5;

}

 


@media(max-width:768px){
    .hero img{
       max-width: 100%;
       height: auto;
       margin-top: 20px;
       align-items: center; 

    }
    .hero h1{
       width: 100%;
        font-size: 46px;
        margin: 0 20px 0 70px;
        margin-bottom: -30px;
        align-items: center;
       
    
    }
   
    .hero h2{
        width:100%;
        font-size: 28px;
        align-items: center;
        margin:2px 10px -20px 50px;
       
       
    }
    .hero p{
        width:auto;
        font-size: 18px;
        line-height: 32px;
        margin: 2px 0px -10px 20px;
    }
   .hero .seework-btn{
   display: none;
   }
   .hero .resume{

    align-items: center;
    border-radius: 40px;
    margin: 0px 0px -90px 0px;

   }
} 

