.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;

}
.contact-title h1{
    padding: 0px 20px;
    font-size: 70px;
    font-weight: 500;
    background:linear-gradient(267deg, #e5a464 0.36%, #d25bbe 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    

}
.contact-left p{
    max-width:550px;
    color: beige;
    font-size: 25px;
    line-height: 35px
     
}
.contact-details{
    display: flex;
    gap: 30px;
    flex-direction: column;
    color:white;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;

}
.contact-right label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
   
}
.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left:20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;

}

.contact-right textarea{
    width:650px;
    border: none;
    padding: 30px;
    border-radius: 4px;
    background: #32323c;
    color:#A0A0A0;
    font-family:Outfit;
    font-size: 20px;

}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;

}


/* 
@media(max-width:768px){
    .contact h1 {
        font-size: 40px;
        margin: 50px auto -70px 50px ;
      
    }
    .contact-section{
        flex-direction: column;

    }
    .contact-section .let-talk{
        width: 100%;
    }
    .contact-section .let-talk h2{
     font-size: 35px;
      margin: 50px auto 10px 45px;
     
            
    }
    .contact-section .let-talk h5{
        font-size: 25px;
        width:85%;
        margin: 20px auto 10px 50px;
    }
    .contact-section .let-talk p{
        font-size: 23px;
        width: 80%;
        margin: 30px auto 20px 40px;
      
       
    }
    .contact-form{
        width: 80%;
        margin: -200px auto 0px 8px;
        
    }
    .contact-form p{
        font-size: 25px;
        margin:20px auto 10px 20px;
    }
    .contact-form input{
        width:95%;
        font-size: 18px;
       
    }
    .contact-form textarea{
        width:90%;
        font-size: 18px;
        
    }
    .contact-form button{
        width:40%;
        margin:2px auto;
    }
    



}  */