footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-left: 150px;

}
footer li{
    list-style-type: none;
    font-size: 25px;
    padding: 10px;
}
footer h2{
    font-size:35px;

}
footer .emailinp{
    width: 380px;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.btn {
    background: linear-gradient(267deg, #c787c4 0.36%, #1288dd 102.06%);
    font-size: 20px;
    padding: 10px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.5;
    margin-left:150px;
    margin-top: 30px;
}
footer h3{
    font-size: 35px;
    margin-left: 120px;
}

footer p{
    font-size: 20px;
    padding: 5px;
}
footer .icon{
    font-size: 40px;
    padding: 20px;
    display: flex;
    gap: 20px;
  
}
.copyright{
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 240px;
    font-size: 20px;
    font-size:20px;
}
.last-footer{
    display: flex;
    gap: 60px;
    margin-left: 400px;
    font-size:20px;
}


@media(max-width:768px){
    footer{
     
      flex-direction:row;
      justify-content:flex-end;
      gap: 50px;
    }
    footer .useful{
       margin: 10px 15px 5px 10px;
    }
    .useful h2{
      
       width: auto;
    }
   .spanlocat span{
    display: block;
    }
    footer h2{
       
    margin: 10px -5px 5px -20px;

    }
    footer li{
        margin-left:-60%;
       
    }
    footer li:hover{
        color: blue;
    }
    footer h3{
       display: none;
    }
   footer .emailinp{
    display: none;
    }
    footer .btn{
        display: none;
    }
    footer p{
        font-size: 25px;
        width:auto;
        margin-left: 1%;
    }
    footer .icon{
        font-size: 35px;
        margin-left: 1%;
    }
    .copyright {
        flex-direction: column;
        margin-bottom: -30% ;

      
    }
    .last-footer {
       margin-left: 150px;
       gap:15px;       
    }

    .last-footer p{
       display: none; 
    }

}