.des-section{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 60px;
    margin-top: 30px;
    background-color: rgb(53, 50, 50);
} 
.des-section h1{
    font-size: 45px;
    margin-left: 870px;
    margin-bottom: -30px;
    
}
.des-section p{
    font-size: 25px;
    padding: 20px;
    margin-left: 290px;
    margin-bottom: -7px;
}
.span1{
    margin-left: 0px;
}
.span2{
    margin-left: 100px;
}


@media(max-width:768px){
   
    .des-section h1{
        font-size: 40px;
        margin-left:3%;
        height: auto;
        width: 290px;
        
      

    }
    .des-section p{
        font-size: 25px;
        padding: 10px;
        /* flex-direction: start; */
        width: 100%;
        margin: 2px ;

    }
    .des-section p span{
        display: none;
    }
}




@media (max-width: 1280px) {
    .des-section {
      padding: 30px; 
      margin-top: 20px; 
      gap: 20px; 
    }
  
    .des-section h1 {
      font-size: 35px; 
      margin-left: 0px; 
      margin-bottom: -10px; 
      text-align: center; 
    }
  
    .des-section p {
      font-size: 20px; 
      padding: 10px; 
      margin-left: 40px; 
      margin-bottom:10px; 
      text-align: center; 
      max-width: 90%;
    }
  
    .span1, .span2 {
      margin-left: 0px; 
      text-align: center; 
    }
  
 
    .span1 {
      margin-top: 10px;
    }
  
    .span2 {
      margin-top: 10px;
    }
  }
  